{{ define "main" }}

<article>
    <h1>
        {{ if eq .CurrentSection .FirstSection }}
            {{ .Section | humanize }}
        {{ else }}
            {{ .Title }}
        {{ end }}
    </h1>
    {{ .Content }}
    {{ $currentSection := .CurrentSection }}
    {{ range where .Site.RegularPages.ByTitle "Section" .Section }}
        {{ if in (.RelPermalink | string) $currentSection.RelPermalink }}
            <div>
                <div>
                    <a href="{{ .RelPermalink }}">{{ .Params.title }} &rarr;</a>
                </div>
            </div>
        {{ end }}
    {{ end }}
</article>

{{ end }}