<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{{- /* Title */}}
<title>{{ if .IsHome }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ end }}{{ site.Title }}</title>

{{- /* Meta */}}

{{- /* Styles */}}

{{- /* includes */}}
{{- $includes := slice }}

{{ $syntax := resources.Get "css/includes/syntax.css" }}
{{ $core := resources.Get "css/main.scss" | css.Sass | resources.Minify }}

{{- /* bundle all required css */}}
{{- $stylesheet := (slice $core $syntax) | resources.Concat "assets/css/stylesheet.css" }}
{{- $stylesheet := $stylesheet | fingerprint }}
<link crossorigin="anonymous" href="{{ $stylesheet.RelPermalink }}" integrity="{{ $stylesheet.Data.Integrity }}" rel="preload stylesheet" as="style">

{{- /* Favicons */}}

<noscript>
</noscript>