{{- $currentPage := . -}}
{{- $root := site.GetPage "section" $currentPage.Section -}}
{{- $pagesInSection := $currentPage.Parent.RegularPages.ByWeight -}}
{{- if in (slice "guide" "docs") $currentPage.Section -}}
    {{- $pagesInSection = $root.RegularPagesRecursive.ByWeight -}}
{{- end -}}
{{- if eq $currentPage.Section "docs" -}}
    {{- $pagesInSection = slice -}}
    {{- $pagesInSection = $pagesInSection | append $root.RegularPages -}}
    {{- range $root.Sections.ByWeight -}}
        {{- $pagesInSection = $pagesInSection | append .RegularPages -}}
    {{- end -}}
    {{- $pagesInSection = sort $pagesInSection "Weight" -}}
{{- end -}}
{{- if and (le (len $pagesInSection) 1) (gt (len $root.RegularPages) 1) -}}
    {{- $pagesInSection = $root.RegularPages.ByWeight -}}
{{- end -}}
{{- if and (gt (len $pagesInSection) 1) (in $pagesInSection $currentPage) -}}
<nav class="paginav">
    {{- $index := 0 -}}
    {{- range $i, $page := $pagesInSection -}}
        {{- if eq $page.RelPermalink $currentPage.RelPermalink }}{{ $index = $i }}{{ end -}}
    {{- end -}}
    {{- if gt $index 0 -}}
    {{- with index $pagesInSection (sub $index 1) -}}
    <a class="prev" href="{{ .RelPermalink }}"><span class="title">« Previous</span><br><span>{{ .Title }}</span></a>
    {{- end -}}
    {{- end -}}
    {{- if lt $index (sub (len $pagesInSection) 1) -}}
    {{- with index $pagesInSection (add $index 1) -}}
    <a class="next" href="{{ .RelPermalink }}"><span class="title">Next »</span><br><span>{{ .Title }}</span></a>
    {{- end -}}
    {{- end -}}
</nav>
{{- end -}}
